body{
  background-color: #A1FCDF
}

h1{
  color: purple;
  text-align: center;
  font-size: 100px;
  font-family: "Lucida Console";
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
